body{
background:#fbc531;

}
p{
float:left;
margin-left: 20px;
background:#fbc531;
}
#one{
	border:solid 1px black;
	width:50px;
	height:50px;
	background:#00a8ff;
	text-align: center;
	padding-top: 15px;
	box-sizing: border-box;
	margin-left:600px;
}
#two{
	border:solid 1px black;
	width:50px;
	height:50px;
	background:#9c88ff;
	text-align: center;
	padding-top: 15px;
	box-sizing: border-box;
	margin-top:300px;
}
#three{
	border:solid 1px black;
	width:50px;
	height:50px;
	background:#c23616;
	text-align: center;
	padding-top: 15px;
	box-sizing: border-box;
	clear: left;
	margin-left:600px;
}
#four{
	border:solid 1px black;
	width:50px;
	height:50px;
	background:#192a56;
	text-align: center;
	padding-top: 15px;
	box-sizing: border-box;
}