a{
text-decoration: none;
}
a#netflix{
	color:red;
	text-decoration: underline;
}
#netflix{
	color:white;
	background:white;
	border:solid 1px white;
	margin-top: 100px;
	}
.google{
	color:white;
	border:solid 1px #ff5e57;
	background:#ff5e57;
}
div{
	font-size: 25px;
	width:100px;
	border:solid 1px #ff5e57;
	font-family:"arial";
	text-align: center;
    margin-left: 580px;
    margin-bottom: 50px;
}
div#netflix:hover{
	color:white;
	transition: 1.8s;
	border:solid 1px #ff5e57;
	background: #ff5e57;
}	
div.google:hover{
	color:#ff5e57;
	transition: 1.8s;
	border:solid 1px white;
	background: white;
}	
